{% extends "base/base.html" %}
{% block cartcount %} {{ count }} {% endblock %}
{% block Title %} {{ product.product_name }} {% endblock %}
{% block start %}

<section class="section-content padding-y bg">
  <div class="container">
    <div class="card">
      <div class="row no-gutters">
        <aside class="col-md-6">
          <article class="gallery-wrap">
            <div class="img-big-wrap">
              <div>
                <a href="#"
                  ><img src="/media/{{ product.product_images.first.image }}"
                /></a>
              </div>
            </div>
            <div class="thumbs-wrap">
              {% for image in product.product_images.all %}
              <a href="#" class="item-thumb"
                ><img src="/media/{{ image.image }}"
              /></a>
              {% endfor %}
            </div>
          </article>
        </aside>
        <main class="col-md-6 border-left">

          <article class="content-body">
            <div id="alert-container">
{% include "base/alert.html" %}
              </div>
            <h2 class="title">{{ product.product_name }}</h2>
            <input type="hidden" id="product-id" value="{{ product.uid }}">
            <div class="rating-wrap my-3">
              <ul class="rating-stars">
                <li style="width: 80%" class="stars-active">
                  <i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i>
                </li>
                <li>
                  <i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i><i class="fa fa-star"></i
                  ><i class="fa fa-star"></i>
                </li>
              </ul>
              <small class="label-rating text-muted">132 reviews</small>
              <small class="label-rating text-success"
                ><i class="fa fa-clipboard-check"></i> 154 orders
              </small>
            </div>
            <div class="mb-3">
              Rs.<var id="changedprice" class="price h4">
                {% if updated_price %} {{ updated_price }} {% else %}
                {{product.price }} {% endif %}.00
              </var>
              <span class="text-muted">/per item</span>
            </div>
            <p>{{ product.product_description }}</p>
            <dl class="row">
              <dt class="col-sm-3">Model#</dt>
              <dd class="col-sm-9">Odsy-1000</dd>
              <dt class="col-sm-3">Color</dt>
              <dd class="col-sm-9">Brown</dd>
              <dt class="col-sm-3">Delivery</dt>
              <dd class="col-sm-9">Russia, USA, and Europe</dd>
            </dl>
            <hr />
            <div class="form-row">
              <div class="form-group col-md flex-grow-0">
                <label>Quantity</label>
                <div class="input-group mb-3 input-spinner">
                  <div class="input-group-prepend">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-plus"
                    >
                      +
                    </button>
                  </div>
                  <input
                    type="text"
                    class="form-control"
                    id="quantity-input"
                    value="1"
                  />
                  <div class="input-group-append">
                    <button
                      class="btn btn-light"
                      type="button"
                      id="button-minus"
                    >
                      −
                    </button>
                  </div>
                </div>
              </div>
              {% if product.size_variant.count %}
              <div class="form-group col-md">
                <label>Select size</label>
                <div class="mt-1">
                  {% for size in product.size_variant.all %}
                  <label
                    class="custom-control custom-radio custom-control-inline"
                  >
                    <input type="radio"
                    onchange="get_correct_price('{{size.size_name }}')"
                    name="select_size" {% if selected_size == size.size_name %}
                    checked {% endif %} class="custom-control-input">
                    <div class="custom-control-label">{{ size.size_name }}</div>
                  </label>
                  {% endfor %}
                </div>
              </div>
              {% endif %}
            </div>
            <a href="#" id="buy-single-product" class="btn btn-primary">Buy now</a>
            <a href="#" id="add-to-cart-button" class="btn btn-primary"
              ><span class="text">Add to cart</span
              ><i class="fas fa-shopping-cart"></i
            ></a>
          </article>
        </main>
      </div>
    </div>
  </div>
</section>

<script>
   function get_correct_price(size) {
    window.location.href = window.location.pathname + `?size=${size}`;
  }
  document.addEventListener("DOMContentLoaded", function () {
    const quantityInput = document.getElementById("quantity-input");
    const buttonPlus = document.getElementById("button-plus");
    const buttonMinus = document.getElementById("button-minus");
    const BuySingleProduct= document.getElementById("buy-single-product");
    const addToCartButton = document.getElementById("add-to-cart-button");
    const csrfToken = "{{ csrf_token }}"; // Assuming you pass this from backend
    const productId = document.getElementById("product-id").value;

    buttonPlus.addEventListener("click", function () {
      let currentValue = parseInt(quantityInput.value);
      if (!isNaN(currentValue)) {
        quantityInput.value = currentValue + 1;
      }
    });

    buttonMinus.addEventListener("click", function () {
      let currentValue = parseInt(quantityInput.value);
      if (!isNaN(currentValue) && currentValue > 1) {
        quantityInput.value = currentValue - 1;
      }
    });

    //Buy_single_product
       BuySingleProduct.addEventListener("click", function (event) {
      event.preventDefault();
      const quantity = parseInt(quantityInput.value);
      const selectedSize = getSelectedSize();
      price=getPrice()

      sendDataSingleProduct(price,quantity, selectedSize,productId, csrfToken);
    });
    //add_to_cart
    addToCartButton.addEventListener("click", function (event) {
      event.preventDefault();
      const quantity = parseInt(quantityInput.value);
      const selectedSize = getSelectedSize();
      price=getPrice()

      sendDataADDToCart(price,quantity, selectedSize,productId, csrfToken);
    });
   function getPrice() {
  const priceElement = document.querySelector('#changedprice');
  const priceText = priceElement.textContent.trim();
  const price = parseFloat(priceText);
  return price;
}


    function getSelectedSize() {
      const urlParams = new URLSearchParams(window.location.search);
      const selectedSize = urlParams.get("size");

      return selectedSize;
    }
    function displayMessage(message, type) {
                const alertContainer = document.getElementById("alert-container");
                alertContainer.innerHTML = `
                    <div class="alert alert-${type}" role="alert">
                        ${message}
                    </div>
                `;
            }

             async function sendDataSingleProduct(price,quantity, selectedSize,productId, csrfToken) {

      try {
        const response = await fetch(
          "http://127.0.0.1:8000/orders/BuySingleProduct/",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'price':price,'quantity': quantity, 'size': selectedSize,'pid':productId }),
          }
        );

        const data = await response.json();
        if (response.status == 200) {

          displayMessage(data.message, "success");
          setTimeout(() => {
      window.location.reload();
    },1000);


        }else if(response.status == 401){
         window.location.href = `http://127.0.0.1:8000/${data.link}`;
        }

        else {
          displayMessage(data.message || "Failed to add product to cart.", "danger")
        }
      } catch (error) {
        console.error("Error:", error);
        alert("An error occurred. Please try again.");
        displayMessage("An error occurred. Please try again.", "danger");
      }
    }









    async function sendDataADDToCart(price,quantity, selectedSize,productId, csrfToken) {

      try {
        const response = await fetch(
          "http://127.0.0.1:8000/accounts/add_to_cart/",
          {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
              "X-CSRFToken": '{{ csrf_token }}',
            },
            body: JSON.stringify({ 'price':price,'quantity': quantity, 'size': selectedSize,'pid':productId }),
          }
        );

        const data = await response.json();
        if (response.status == 200) {

          displayMessage(data.message, "success");
          setTimeout(() => {
      window.location.reload();
    },1000);


        }else if(response.status == 401){
         window.location.href = `http://127.0.0.1:8000/${data.link}`;
        }

        else {
          displayMessage(data.message || "Failed to add product to cart.", "danger")
        }
      } catch (error) {
        console.error("Error:", error);
        alert("An error occurred. Please try again.");
        displayMessage("An error occurred. Please try again.", "danger");
      }
    }
  });
</script>

{% endblock %}
